.App-body {
  background-color: #ffffff;
  color: #000000;
}

.App-header {
  background-color: #000000;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
}

form,
table {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-left: 1rem;
  margin-top: 0;
}

.wrapper {
  border: 1px solid #000000;
  padding: 0.5rem;
  margin: 0.2rem;
}

th,
td {
  width: 10rem;
  text-align: center;
  border-bottom: 1px solid #D3D3D3;
}